@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

/* Make images flexible */
img {
  max-width: 100%;
  height: auto;
  display: block;
}


@media (max-width: 768px) {

  /* NAVBAR FIX */
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .links {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  /* FOOTER FIX */
  footer div {
    padding: 10px !important;
    text-align: left;
  }

  /* TEXT FIX */
  h1, h2, h3 {
    font-size: 90%;
  }

  /* PADDING FIX */
  .container {
    padding: 15px !important;
  }
}